body{
margin:0;
background:#cc0000;
}

ul{	
list-style:none;
}

a{
color:white;
margin-right:5px;
}

a:hover{
color:gray;
}

p,h1,h2{
margin-left:200px;	
color:white;
}

p{
font-family: 'Droid Serif', serif, 'Courier New', serif;
font-size:1em;
width:580px;
line-height:25px;
margin-top:50px;
margin-bottom:50px;
}

h1,h2{
font-family: 'Lato', sans-serif,'Arial' , sans-serif;
}

img{
display:block;
margin:auto;
}

header{
margin-bottom:100px;
}

footer{
background:black;
height:75px;
}

.title{
font-size:3.998em;
}

.subtitle{
font-size:1.999em;
width:385px;
text-decoration:underline;
}

.textfield{
position:absolute;
width:300px;
margin-left:500px;
margin-top:65px;	
}

.animation{
position:absolute;
margin-top:200px;
margin-left:-100px;
}

.call{
position:absolute;
margin-top:200px;
margin-left:700px;
}

.addChild{
position:absolute;

margin-left:-170px;
margin-top:170px;
}

.textfield > p,.animation > p,.call > p,.addChild > p{
position:static;
display:block;
width:300px;
font-family:'Courier New';
font-size:3.998em;
font-style:italic;
color:rgba(0,0,0,0.1);
}

.img_pub{
margin-top:100px;
}

.center_title{
margin:0;
margin-top:150px;
text-align:center;
}

.center_paragraph{
left:50%;
margin-left:350px;

}

.center_description{
width:100%;
margin:0;
margin-bottom:150px;
text-align:center;
}

ul.section__inconvenient{
background-image:url("https://964287359379793ace6817e641cfd6d5081ab8ed-www.googledrive.com/host/0B6LaMt3QYFH2cEZVUGFNZFBXNWc");
}

.section__inconvenient p{
margin-left:160px;
}

.section__utilisations{
list-style:disc;
color:white;
margin-left:200px;	
}

.section__utilisations p{
margin-left:0;
}

.section__programmation{
margin-top:150px;
}

.links{
text-align:center;
}

footer p{
padding-top:25px;
margin-bottom:0;
}
